:root {
    --branco-principal:#ffffff;
    --cinza-secundrio:#c0c0c0;
    --botao-azul:#167bf7;
    --cor-de-fundo: #000000;

}
body {
    background-color: #000000;
    color:#ffffff
    }
* {
    margin: 0;
    padding: 0;
    }
.Ramon {
    width: 20;
    margin: 50;
    padding: 20%;
    
}
.principal {
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    
}
.combo {
    
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 5%;
}
.container-botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
}